{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow border-0 p-4 text-center">

            <h3 class="mb-4 text-danger">
                Delete Account
            </h3>

            <p>
                Are you sure you want to permanently
                delete your account?
            </p>

            <form method="POST">

                {% csrf_token %}

                <button type="submit"
                        class="btn btn-danger">

                    Yes Delete My Account
                </button>

                <a href="/"
                   class="btn btn-secondary">

                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}